<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/blackjack.css">
    <link rel="stylesheet" href="css/moneyConvert.css">
    <title>Account</title>
</head>

<body>
    <!--start of content-->
    <!--nav bar starts here-->
    <nav>

    </nav>
    <!--nav bar ends here-->

    <!--start of the game board-->
    <div class="row container" id="title">
        <h1>Account Page</h1>
        <div id="accountInfo">
            <div class="boxinfo" id="computer">
                <h5>"Username"'s Account</h5>
                <ul>
                    <li>Name: Test</li>
                    <li>Username: Test01</li>
                    <li>Email: test01@test.com</li>
                    <li>Games played: 45</li>
                    <li>Games won: 30</li>
                    <li>Games lost: 15</li>
                    <li>Bio - say something about yourself</li>
                </ul>
            </div>

            <!-- Dropdown Trigger -->
            <a class='dropdown-button btn' id="miniMenu" href='#' data-activates='dropdown1'>Drop Me!</a>
            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content'>
                <li><a href="#!" class="miniMenu">one</a></li>
                <li><a href="#!" class="miniMenu">two</a></li>
                <li class="divider" class="miniMenu"></li>
                <li><a href="#!" class="miniMenu">three</a></li>
            </ul>
            <button class="btn waves-effect waves-light" class="miniMenu" id="miniMenu2" type="edit">Edit</button>
            <button class="btn waves-effect waves-light" class="miniMenu" id="miniMenu3" type="other">Other</button>
        </div>
        <div id="playButton">PLAY</div>
    </div>



    <!--end of the game board-->
    <!--end of content container-->

    <script src="js/jquery-3.1.1.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/jquery.js"></script>
</body>

</html>