<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../public/css/materialize.css">
    <link rel="stylesheet" href="../public/css/moneyConvert.css">
    <title>Game Board</title>
</head>

<body>


    <div class="container bettingBoard">
        <div class="row">
            <div class="col s12">
                <form id='myform' method='POST' action='#'>
                    <div>
                        <label for="purse">Your Amount</label>
                        <input class='qty' id="purseQuantity" type='text' name='purse' value='500'/>
                    </div>
                    <div>
                        <label for="quantity">Bet Amount</label>
                        <input class='qty' id="quantity" type='text' name='quantity' value='0'/>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div id="redChip" class="fish red">
                    <div class="value">5p</div>
                </div> 
                <div id="orangeChip" class="fish orange">
                    <div class="value">10p</div>
                </div>
                <div id="greenChip" class="fish green">
                    <div class="value">20p</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div id="blueChip" class="fish blue">
                    <div class="value">50p</div>
                </div>

                <div id="blackChip" class="fish black">
                    <div>£1</div>  
                </div>
                <div id="resetChip" class="fish gray">
                    <div>Reset</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div id="bettingButtons">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                         <i class="material-icons right"></i>
                    </button>
                    <button class="btn waves-effect waves-light" id="continue" title="Continue the game with original bet">Continue (1x)</button>                
                    <button class="btn waves-effect waves-light" id="double" title="Continue the game, but double the bet">Double (2x)</button>
                    <button class="btn waves-effect waves-light" id="quit" title="Quit the game!">Quit Game</button>
                </div>
            </div>
        </div>

    </div>

    <div class="container chipStackBoard">
        <div class="row">
            <div class="chipStack">
                <div class="redChips">
                </div>
                <div class="orangeChips">
                </div>
                <div class="greenChips">
                </div>
                <div class="blueChips">
                </div>
                <div class="blackChips">
                </div>
            </div>
        </div>
    </div>

    <!--end of the game board-->

    <!--end of my content container-->
    
    <script src="../public/js/thirdPartyJS/jquery-3.1.1.js"></script>
    <script src="../public/js//thirdPartyJS/materialize.js"></script>
    <script src="../public/js/moneyConversion.js"></script>

</body>

</html>