<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/blackjack.css">
    <title>Game Board</title>
</head>

<body>
    <!--start of my content-->
    <!--nav bar starts here-->
    <nav>

    </nav>
    <!--nav bar ends here-->

    <!--start of the game board-->
    <div class="row container" id="title">
        <h1>Game Board</h1>
        <div id="gameBoard">
            <div id="computer">
                <p>computer / dealer</p>
                <div class="box" id="0">0</div>
                <div class="box" id="1">1</div>
                <div class="box" id="2">2</div>
                <div class="box" id="3">3</div>
                <div class="box" id="4">4</div>
            </div>
            <div id="player">
                <p>player / user</p>
                <div class="box" id="5">5</div>
                <div class="box" id="6">6</div>
                <div class="box" id="7">7</div>
                <div class="box" id="8">8</div>
                <div class="box" id="9">9</div>
            </div>

            <div id="hit">HIT</div>
            <div id="stick">STICK</div>
            <div id="newGame">NEW GAME</div>
        </div>
    </div>
    <!--end of the game board-->
    <!--end of my content container-->

    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
</body>

</html>