<!DOCTYPE html>
<html>

<head>
    <!--inlcuding materialize css-->
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/blackjack.css">
    <link rel="stylesheet" href="css/moneyConvert.css">
    <link href="https://fonts.googleapis.com/css?family=Abel|Cinzel+Decorative|Open+Sans|Yellowtail" rel="stylesheet">
    <title>Registration</title>
</head>

<body>

    <div id="app"></div>


    <!--including js-->

    <script src="js/thirdPartyJs/jquery-3.1.1.js" type="text/javascript"></script>
    <script src="js/thirdPartyJs/materialize.js" type="text/javascript"></script>
    <script src="js/dist/build.js" type="text/javascript"></script>
    <script src="js/jquery.js"></script>

</body>

</html>