<!DOCTYPE html>
<html>

<head>
    <!--inlcuding materialize css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.css" />
    <title>Registration</title>
</head>

<body>
    <div>
        <a href="login">Log In</a>
        <a href="registration">Registration</a>
    </div>

    <!--including js-->
    <script src="js/jquery-3.1.1.js" type="text/javascript"></script>
    <script src="js/materialize.js" type="text/javascript"></script>
</body>

</html>