<!DOCTYPE html>
<html>

<head>
    <!--vue.js needs to be loaded before the inline scripts-->
    <script src="js/vue.js" type="text/javascript"></script>
    <script src="js/vue-resource.min.js" type="text/javascript"></script>
    <!--inlcuding materialize css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.css" />
    <!--adding recaptcha-->
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <title>Registration</title>
</head>

<body>
    <div id="app">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <p>Username is: {{ userName }}</p>
                        <input v-model="userName" placeholder="Username" id="userName" type="text" class="validate">
                    </div>
                    <div class="input-field col s12">
                        <p>Full name is: {{ fullName }}</p>
                        <input v-model="fullName" id="fullName" type="text" class="validate">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <p>Email is: {{ email }}</p>
                        <input v-model="email" id="email" type="email" class="validate">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <p>Password is: {{ password }}</p>
                        <input v-model="password" id="password" type="password" class="validate">
                    </div>
                </div>
                <div>
                    <div class="input-field col s12">
                        <p>Date of birth is: {{ birthDate }}</p>
                        <input v-model="birthDate" id="birthDate" type="date" class="datepicker validate">
                    </div>
                </div>
                <div class="g-recaptcha" data-sitekey="6LdmCBIUAAAAACYEIR3fqgwela0__PMvyRayteqR"></div>
                <button class="btn waves-effect waves-light right" type="submit" name="action" id="submitRegistration" v-on:click="submit($event)">Submit</button>
            </form>
        </div>
    </div>

    <!--including js-->
    <script src="js/jquery-3.1.1.js" type="text/javascript"></script>
    <script src="js/materialize.js" type="text/javascript"></script>
    <script src="js/registrationVue.js" type="text/javascript"></script>
</body>

</html>