/*body {
    background-image: url("gameBoard.png");
    background-color: #cccccc;
}*/
.row, .container{
    background-color: #009A00;
}

#homeBackground{
    position: fixed;
    z-index: -100;
}

.nav-wrapper{
    background-color: #000000;
}



h1{
    text-align: center;
}

.box{
    background-color: pink;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: inline-block; 
    width: 15%;
    height: 200px;
}

.boxinfo{
    background-color: pink;
    /*margin-left: 2%;*/
    /*margin-right: 2%;*/
    margin-top: 2%;
    margin-bottom: 2%;
    display: inline-block; 
    width: 50%;
    padding: 4%;
}

#playButton{
    width: 50%;
    background-color: lightblue;
    padding: 5%;
    float: right;
    text-align: center;
    margin-top: -20%;

}

#miniMenu, #miniMenu2, #miniMenu3{
    margin-top: -44%;
}

#dropdown1, .miniMenu{
    top: 259.906px;
}
/*this doesn't work above - as in doesn't do anything*/