div.container.bettingBoard {
    background: rgba(0, 0, 0, 0.85);
    border-radius: 25px;
    padding: 20px;
    width: 40%;
    height: 100%;
    position: relative;
}

div.chipsStack {
    z-index: 9015;
    margin-top: -5%;
    margin-left: -8%;
    position: relative;
}
.value {
    cursor:pointer;
    cursor:hand
}
div.chipStackBoard {
    /*background: rgba(0, 0, 0, 0.85);*/
    border-radius: 25px;
    padding: 20px;
    width: 19%;
    height: 30%;
    position: fixed;
    margin-left: 39%;
    margin-top: -18%;
}

label {
    color: white;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.fish {
    width: 70px;
    height: 70px;
    margin: 10px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.2);
    -moz-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.2);
    -webkit-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.2);
    border: 10px dotted #fff;
    position: relative;
}

div.fish div {
    font-family: Verdana;
    text-align: center;
    line-height: 50px;
    font-size: .9em;
	color:#fff;
	text-shadow: 0.1em 0.2em 0.07em rgb(82, 82, 82);
}

div.red { position: absolute; margin-top: 5%; background: rgb(175, 17, 36) }

div.orange { position: absolute; margin-top: 12%; background: rgb(223, 99, 1) }

div.green { position: absolute; margin-top: 19%; background: rgb(75, 158, 0) }

div.blue {  position: absolute; margin-top: 26%; background: rgb(4, 83, 145) }

div.black {
    position: absolute;
    margin-top: 33%;
    background: rgb(36, 36, 36);
    color: #eee;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.1);
    -moz-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.1);
    -webkit-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.1);
    border: 10px dotted #ccc;
}

div.gray { position: absolute; margin-top: 40%; background: rgb(109, 109, 109) }

#twist {
    margin-left: 103%;
    position: absolute;
    margin-top: 5%;
}

#stick {
    margin-left: 103%;
    position: absolute;
    margin-top: 2%;
}

#reset {
    margin-left: 103%;
    position: absolute;
    margin-top: 15%
}

#newGame {
    margin-left: 103%;
    position: absolute;
    margin-top: 26%;
}

#submitBet {
    margin-left: 103%;
    position: absolute;
    margin-top: 31%;
}

#betting {
    margin-left: 103%;
    position: absolute;
    margin-top: 21%;
}

#bank {
    margin-left: 103%;
    position: absolute;
    margin-top: 21%;
}